﻿@model IList<SwiftBookingTest.Web.Models.ClientViewModel>
@{
    ViewBag.Title = "Index";

}

<div class="container" style="width: 90%; max-width: 900px">
    <div class="row">
        <div class="center-block" style="text-align: center">
            <h2>GetSwift Code Test</h2>
        </div>
    </div>
    <div class="row">
        <form id="bookingForm">
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" required class="form-control" id="txtName" placeholder="Name" name="Name" data-fv-blank="true"/>
            </div>
            <div class="form-group">
                <label for="txtPhone">Phone</label>
                <input type="text" required class="form-control" id="txtPhone" placeholder="Phone" name="PhoneNumber" data-fv-blank="true"/>
            </div>
            <div class="form-group">
                <label for="txtAddress">Address</label>
                <input type="text" required class="form-control" id="txtAddress" placeholder="Address" name="Address" data-fv-blank="true"/>
            </div>

            <button type="button" class="btn btn-success" data-bind="click: saveData">
                <span data-bind="text: saveInProgress() ? 'Saving...' : 'Save Data'"></span>
            </button>

            <div style="text-align: center; color: red" data-bind="visible: saveFailure">Saving failed</div>
        </form>
    </div>

    <div class="row">
        <h3>Saved people</h3>
        <div style="text-align: center" data-bind="visible: inProgress">Loading...</div>
        <div style="text-align: center; color: red" data-bind="visible: loadingFailure">Loading failed</div>

        <table class="table table-striped vert-align">
            <thead>
                <tr>
                    <td class="col-md-2"></td>
                    <td class="col-md-10"></td>
                </tr>

            </thead>
            <tbody data-bind="template: { name: 'client-template', foreach: clients }"></tbody>
        </table>

    </div>

    <div class="row">
        <h3>API Response</h3>
        <div style="background-color: #eee; padding: 20px;">
            <span id ="apiResult"></span>
        </div>

    </div>
    <script type="text/html" id="client-template">

        <tr>
            <td>
                <button type="submit" class="btn btn-success" data-bind="enable: !bookedDate(), click: callApi"><span data-bind="text: inProgress() ? 'Loading...' :(bookedDate() != null ? 'Booked' : 'Book with GetSwift'), attr : {'data-id' : id()}"></span></button>
            </td>
            <td>
                <span data-bind="text: address()"></span>
            </td>
        </tr>

    </script>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/clients");
}
